# IDE & Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Inno Setup & Builds
output/
installer_build/
DraggyEncoder_v1_Setup.exe
dist/
build/
*.spec
*.exe
!DraggyEncoder_v*.exe

# Local Dev Data/Temporary Files
TEMP
temp/
bin/
bin/*.exe
bin/ffmpeg
bin/ffprobe
res/settings.json
ffmpeg*
ffprobe*
ffmpeg2pass-*.log*
foo-*.log*
*.log
full_log.txt
full_trace_log.txt
changes.txt

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env
.pytest_cache/
settings.json
installer_output/
*.AppImage
*.log
full_log.txt
full_trace_log.txt
.vscode/
.idea/
*.exe
!DraggyEncoder_v*.exe