.venv/
output/
bin/
build/
dist/
__pycache__/
*.py[cod]
*$py.class
.DS_Store
ffmpeg*
ffprobe*
changes.txt
TEMP/
settings.json
installer_output/
*.AppImage
*.bak
*.spec
*.log
full_log.txt
full_trace_log.txt
.vscode/
.idea/
*.exe
!DraggyEncoder_v*.exe