[Desktop Entry]
Name=Draggy Encoder
Exec=bash -c 'cd "$(dirname "%k")" && python3 launch.py'
Icon=pyEncoder
Type=Application
Categories=AudioVideo;Video;Recorder;
Comment=Draggy Encoder - Simple Video Compressor
Terminal=false
